certifi==2023.7.22
charset-normalizer==3.0.1
htcondor==9.3.0
idna==3.4
numpy==1.19.5
pandas==1.1.5
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.27.1
six==1.16.0
tzdata==2023.3
urllib3==1.26.17